<p>Using fromEvent we can create a stream of Data</p>
<div class="row mt-2">
    <div class="col-3">
        <div class="card">
            <div class="card-header p-1">Add Video</div>
            <div class="body p-1">
                <button class="btn btn-primary" #btn>Add</button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header p-1">List</div>
            <div class="body p-1">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
</div>