ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li{
    padding: 5px;
    margin: 5px;
    background-color: #f8f8f8;
    border: 1px solid;
    border-radius: 10px;
}

.error li{
    color: white;
    background-color: red;
}

.complete li{
    color: white;
    background-color: green;
}